.idea
servers/minecraft/plugins/Quill/resource-pack.zip
/servers/survival/plugins/MineInAbyss/player/
/servers/survival/plugins/MineInAbyss/bosses_camelot.yml
/servers/minecraft/plugins/Looty/config.yml
/servers/minecraft/plugins/BondrewdLikesHisEmotes/convert/emotes.yml
/feat/emotes/plugins/Emojy/gifs/
/feat/blocks/plugins/Blocky/pack/
